@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    animation: blink 1s step-end infinite;
  }
  
  /* Initial position */
.bottom-to-top {
  transform: translateY(0);
}

/* Animation */
.animate-bottom-to-top {
  animation: bottomToTop 1s forwards;
}

@keyframes bottomToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
